// base-variable 公共变量集

///////////////////////////
//////// 公共基础 /////////
///////////////////////////

// 主体颜色
$primary-color          : #2d8cf0;
$info-color             : #59c7f9;
$success-color          : #19be6b;
$warning-color          : #ff9900;
$error-color            : #ed3f14;
$violet-color           : #9d2fbc;

// 边框颜色
$border-color           : #EEE;


///////////////////////////
//////// 前台官网 /////////
///////////////////////////



///////////////////////////
//////// 后台管理 /////////
///////////////////////////

